.navbar {
	position: fixed;
	top: 1rem;
	left: 5%;
	right: 5%;
	height: 70px;
	z-index: 1000;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.5rem;
	background: rgba(20, 32, 48, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 20px -5px var(--color-horizon);
}

.nav-logo {
	font-weight: 800;
	font-size: 1.2rem;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 1px;
}

.nav-links {
	display: flex;
	gap: 2rem;
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	color: var(--text-main);
	font-weight: 500;
	font-size: 0.95rem;
	transition: color 0.3s ease;
}


.nav-links a:hover {
	color: var(--color-accent);
}

.navbar.scrolled {
	background: rgba(0, 0, 0, 0.8); /* Devient plus sombre au scroll */
	height: 60px;
}

.nav-links a,
nav ul li a {
	/* Cette variable changera selon ton data-theme défini dans index.css */
	color: var(--text-main);
	text-decoration: none;
}

nav ul li a:hover {
	color: var(--color-accent);
}
