.navbar {
  position: fixed;
  top: 32px; /* Distance avec le haut de l'écran */
  left: 50%;
  transform: translateX(-50%); /* Pour la centrer parfaitement */
  width: 90%; /* Largeur sur mobile */
  max-width: 400px; /* Largeur max sur grand écran */
  background: var(--nav-bg);
  backdrop-filter: blur(4px); /* Flou optionnel pour plus d'élégance */
  border-radius: 16px; /* Bords très arrondis */
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1.5rem;
  z-index: 1000;
  /* box-shadow: 0 10px 30px rgba(168, 135, 93, 0.3); */
}

.nav-content {
  display: flex;
  justify-content: center; /* On centre tout puisqu'il n'y a pas de logo */
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 500;
  font-size: 0.95rem;
  transition: opacity 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* On ajuste le main pour que le contenu ne soit pas caché par la nav */
.main-content {
  padding-top: 100px; 
}

.theme-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.theme-btn:hover {
  transform: scale(1.2); /* Petit effet de zoom sympa au survol */
}

