.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-content {
	margin: 0;
	padding: 0;
	width: 100%;
}

.page-container {
  padding-top: 100px; /* Laisse de la place pour la Navbar de 80px + un peu de marge */
  min-height: 100vh;
  width: 100%;
}