@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

/* --------------------
      VARIABLES & THEMES
----------------------- */

@theme {
  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

:root {
  --font-title: 'Roboto Slab', serif;
  --font-body: 'Open Sans', sans-serif;

  /* Couleurs Mode Sombre */
  --color-space: #142030;
  --color-horizon: #732553;
  --color-sun: #E9D8C8;
  --text-main: #ffffff;
  --color-nav: #1E3442;
}

[data-theme='light'] {
  --color-space: #E9D8C8;
  --color-horizon: #b9bdbe;
  --color-sun: #a2aacd;
  --text-main: #142030;
  --color-nav: #a0bde5;
}

/* --------------------
      BASE STYLES
----------------------- */
@layer base {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    line-height: 1.6;
    font-family: var(--font-body);
    color: var(--text-main);
    background-color: var(--color-space);
    
    /* Ton dégradé */
    background-image: radial-gradient(
      150% 20vh at center 100%, 
      var(--color-sun) 0%, 
      var(--color-horizon) 30%, 
      var(--color-space) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-title);
    font-weight: 500;
  }
}