@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

/* --------------------
      VARIABLES & THEMES
----------------------- */

@theme {
  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

:root {
  --font-title: 'Roboto Slab', serif;
  --font-body: 'Open Sans', sans-serif;

  /* Darkmode */
  --color-space: #142030;
  --color-horizon: #732553;
  --color-sun: #E9D8C8;
  --text-main: #ffffff;
  --color-nav: #1E3442;
  --color-accent: #FF5C80;
}

[data-theme='light'] {
  --color-space: #E9D8C8;
  --color-horizon: #c9dfe4;
  --color-sun: #a2aacd;
  --text-main: #142030;
  --color-nav: #a0bde5;
  --color-accent: #FF5C80;
}

/* --------------------
      BASE STYLES
----------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-body);
  background-color: var(--color-space);
    
    /* Ton dégradé */
    background-image: radial-gradient(
      150% 20vh at center 100%, 
      var(--color-sun) 0%, 
      var(--color-horizon) 30%, 
      var(--color-space) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-title);
    font-weight: 500;
  }
}